.CodeMirror {
  height: auto !important;

  font-size: 0.75em;
  border: 1px solid var(--color-border);
  margin-bottom: 16px;
  padding: 4px;

  line-height: 1.5;

  pre {
    box-shadow: none;
  }

  &[data-readonly] {
    box-shadow: inset 0px 0px 15px rgba(100, 0, 100, 0.05);

    & .CodeMirror-lines {
      cursor: default;
    }
    & .CodeMirror-cursors {
      visibility: hidden;
    }
  }

  &.cm-s-default {
    .cm-keyword {
      color: #708;
    }

    .cm-builtin {
      color: blue;
    }

    .cm-number {
      color: #008757;
    }

    .cm-comment {
      color: #008000;
    }

    .cm-string {
      color: #A5120B;
    }

    .cm-operator {
      color: #708;
    }

    .cm-variable {
      color: #000;
    }

    .cm-punctuation {
      color: #666;
    }
  }
}
